.full_logo{
    display: block;
    height: 150px;
}
.D_logo{
    display: none;
}
.nav_menu_links{
    color: var(--primarycolor);
}
.nav_menu_links:hover{
    color: var(--secondarycolor);
}


@media screen and (max-width: 768px) {
    .full_logo{
        display: none;
    }
    .D_logo{
        display: block;
        height: 80px;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
}